- const cards = [{heading: 'Supervisor', description: 'Monitors activity to identify project roadblocks', icon: '/icon-supervisor.svg'}, {heading: 'Team Builder', description: 'Scans our talent network to create the optimal team for your project', icon: '/icon-team-builder.svg'}, {heading: 'Karma', description: 'Regularly evaluates our talent to ensure quality', icon: '/icon-karma.svg'}, {heading: 'Calculator', description: 'Uses data from past projects to provide better delivery estimates', icon: '/icon-calculator.svg'}]

.container--cards
  each card in cards 
    .card
      h3.card__heading #{card.heading}
      p.card__description #{card.description}
      img.card__icon(src=card.icon, alt=`${card.heading} Icon`)